# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# VSCode / IDE files
.vscode/
.idea/

# Environment variables and secrets
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Python dependency lock files
poetry.lock
Pipfile.lock