* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;

}



.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20rem;
    margin-bottom: 2rem;
}

